<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>IMC_MCV</display-name>
  <welcome-file-list>
   
    <welcome-file>VueImc.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContollerServlet</display-name>
    <servlet-name>ContollerServlet</servlet-name>
    <servlet-class>web.ContollerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContollerServlet</servlet-name>
    <url-pattern>/ContollerServlet</url-pattern>
  </servlet-mapping>
</web-app>